{% extends 'layout.html' %}
{% block body %}
<div class="container">
    <h1>this is blog page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam minima beatae dolorem tempora expedita. Tenetur voluptates cupiditate repudiandae veritatis, esse molestias quia fugiat modi temporibus ad exercitationem eaque facere est labore praesentium soluta nesciunt! Qui quia at, mollitia tenetur soluta et. Illum nobis dolorem omnis perspiciatis, quisquam ex, alias quis laudantium quo recusandae sequi, eligendi autem tenetur quos fuga ut reprehenderit perferendis delectus. Ut libero quidem enim voluptates reprehenderit, cum nihil. Asperiores hic repellendus veritatis atque repudiandae reiciendis illum, eos incidunt, minus, aut quasi. Voluptatibus officiis dolorem molestias excepturi obcaecati maxime ipsa? Eveniet labore dolorum ipsam provident voluptates maxime eum?</p>
</div> 
{% endblock %}